{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 class="text-[40px] font-bold text-[#ca8f53] text-center mt-20">Thank you for registering!</h1>
        <p class="text-[25px] text-[#6d6e6f] text-center mt-5">
            Please check your email to verify your account. <br>
            You can close this page now.
        </p>
    </div>
{% endblock %}