<nav class="flex justify-between items-center">
    <h1 class="text-[40px] font-bold text-[#ca8f53]">{{ title }}</h1>

    <div x-data="buttons" class="flex gap-4" x-cloak>
        <a href="#" @click.prevent="" :class="secondary">Filter</a>
        <a href="#" @click.prevent="" :class="secondary">Search</a>
        <a href="{{ path(add_path) }}" :class="primary">Add</a>
    </div>
</nav>
