{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/Projects/ShowTime/src/Controller/PublicController.php</code></li>
        <li>Your template at <code>D:/Projects/ShowTime/templates/public/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
