{% extends 'public/base.html.twig' %}

{% block title %}Festivals{% endblock %}

{% block content %}
    <div class="flex flex-col mx-auto gap-8 scrollbar-hide h-auto mb-15">
        {% for festival in festivals %}
            {% include 'public/components/_festival_row.html.twig' with {festival: festival} %}
        {% endfor %}
    </div>
{% endblock %}
